@import 'tailwindcss';
@import 'tailwind-scrollbar-hide/v4';

@theme {
  --color-accent: #f5c518;
}

:root {
  font-family: Menlo, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: #fff;
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
